<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD854bCYecYly_b99pQGEVenrtZ1yBSRx8</string>
	<key>GCM_SENDER_ID</key>
	<string>166073500937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghctecnologia.duriziApp</string>
	<key>PROJECT_ID</key>
	<string>durizi-investimentos</string>
	<key>STORAGE_BUCKET</key>
	<string>durizi-investimentos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166073500937:ios:033edaf2a8c86915763fd8</string>
	<key>DATABASE_URL</key>
	<string>https://durizi-investimentos-default-rtdb.firebaseio.com</string>
</dict>
</plist>